h1{
    text-align: center;
    font-size: 50px;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: royalblue;
}

input[type = "button"]{
    width: 100%;
    height: 100%;
    font-size: 40px;
}

input[id="data"]{
    cursor: text;
    height: 100%;
    width: 98%;
    font-size: 40px;
}

table{
    margin: 12% 0% 0% 36%;
}

tr{
    height: 50px;
    padding: 0px;
}

td{
    width: 74px;
    padding: 0px;
}